<header>
    <h3>
        Bouzige Johanna
    </h3>
    <p>
        <span class="graph">Graphiste</span><span class="dess"> Dessinatrice</span><span class="dev">Developpeuse Web Front-end</span>
    </p>
    <ul>
        <li>
            <a class="linkAnim" routerLink="/presentation" routerLinkActive="active">Présentation</a></li>
        <li>
            <a class="linkAnim" routerLink="/competence" routerLinkActive="active">Compétences</a></li>
        <li>
            <a class="linkAnim" routerLink="/experiences" routerLinkActive="active">Expérience</a></li>
        <!--        <li>
            <a class="linkAnim" routerLink="/realisations" routerLinkActive="active" >Réalisations</a></li>-->
        <li>
            <a class="linkAnim" routerLink="/contact" routerLinkActive="active">Contact</a></li>

        <li>
            <a class="linkAnim" routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
    </ul>


</header>
<router-outlet></router-outlet>
