<header>
    <p>
        Bouzige Johanna
    </p>
    <p>
        Developpeuse Web Front-end
    </p>
    <ul>
        <li>
            <a routerLink="/presentation" routerLinkActive="active" >Présentation</a></li>
        <li>
            <a routerLink="/competence" routerLinkActive="active" >Compétences</a></li>
        <li>
            <a routerLink="/experiences" routerLinkActive="active" >Expérience</a></li>
<!--        <li>
            <a routerLink="/realisations" routerLinkActive="active" >Réalisations</a></li>-->
        <li>
            <a routerLink="/contact" routerLinkActive="active" >Contact</a></li>
    </ul>
</header>
<router-outlet></router-outlet>