header {
    width: 100%;
    align-items: center;
    /* position: fixed;*/
    height: 50px;
    background: #5175C0;
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: #fff;
}

li {
    list-style: none;
    display: inline;
    padding-left: 10px;
    font-family: "hollé";
}

p {
    font-family: "hollé";
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.linkAnim {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}

.linkAnim:hover {
    background-color: #81b3de;
    color: #fff;
    padding: 24px 10px;
    box-shadow: 1px 3px 10px rgba(25, 30, 35, 0.9);;
}
