header {
    width: 100%;
   /* position: fixed;*/
    height: 50px;
    background-color: #6c93da;
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: #fff;
}

li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}
