<div>
    <h3>Experiences</h3>

    <div class="experience">

        <article>
            <div>Mars/Avril 2017</div>
            j'ai travailler en tant que developpeuse web dans une association du nom d'Ekomoundi, pendant 2 mois, sous le CMS Drupal, j'ai notament travailler dans le theming et la correction de bug d'affichage, ainsi que des plugins spécifique au projet de l'association.
        </article>
        <article>
            <div>2016/2017</div>

            pendant 6 mois, dans la formation Coda by Simplon, j'ai aussi participer à la mise et oeuvre et en ligne du site "coda-ales.fr"

        </article>
        <article>
            <div>2016/2017</div>

            j'ai participe pendant une journee a une session d'Hour of code en partenatiat avec Microsoft, avec le college Jean Racine à Ales pour apprendre au eleves de troisieme a code avec des jeux video.

        </article>
        <article>
            <div>2012 / 2013</div>

            A travailler en tant qu'illustratrice dans un ouvrage intituler "Camarade entends-tu?".

        </article>

        <article>
            <div>2015</div>

            A participer a l'elaboration d'une exposition en tant que portraitiste sur la resistance en 2015.

        </article>

    </div>

</div>

