div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h3 {
    text-align: center;
    font-family: "book";
} 

.experience {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-family: "book";
}

article {
    background-color: rgb(220, 229, 255);;
    height: 100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    align-self: left;
     
}

a {
    color: #0949ff;
}