<div>
    <h3>Experiences</h3>

    <div class="experience">

        <article>
            <h4>Mars/Avril 2017</h4>
            j'ai travailler en tant que developpeuse web dans une association du nom d'Ekomoundi, pendant 2 mois, sous le CMS Drupal, j'ai notament travailler dans le theming et la correction de bug d'affichage, ainsi que des plugins spécifique au projet de l'association.
        </article>
        <article>
            <h4>2016/2017</h4>

            pendant 6 mois, dans la formation Coda by Simplon, j'ai aussi participer à la mise et oeuvre et en ligne du site <a href="http://coda-ales.fr/" target="_blank">"coda-ales.fr"</a>

        </article>
        <article>
            <h4>2016/2017</h4>

            j'ai participe pendant une journee a une session d'Hour of code en partenatiat avec Microsoft, avec le college Jean Racine à Ales pour apprendre au eleves de troisieme a code avec des jeux video.

        </article>
        <article>
            <h4>2012 / 2013</h4>

            A travailler en tant qu'illustratrice dans un ouvrage intituler <a href="http://www.onac-vg.fr/fr/actualite-mimc/details/id:304/" target="_blank">"Camarade entends-tu?"</a>.

        </article>

        <article>
            <h4>2015</h4>

            A participer a l'elaboration d'une exposition en tant que portraitiste sur la resistance en 2015.

        </article>

    </div>

</div>

