<div><img src="../../assets/johanna.jpg"/>
<button type="button"><a href="../../nouveau_cv.pdf" target="_blank"> CV<br> PDF</a></button>
    <div class="lien">
       <a href="https://github.com/johannabzg" target="_blank"><img src="../../assets/github.png"/></a> 
        <img src="../../assets/envelope.png"/>
        <img src="../../assets/phone-call.png"/>
    </div>
<p>Je m'appelle Johanna, geek et artiste en herbe, je suis aussi developpeuse Front-end, passionné d'informatique, d'art et de mise en page de site web dynamique et original, le language JavaScript à etait mon premier grand amour, c'est donc tout naturellement que j'ai poursuivie dans voie du front-end. Depuis, j'adore apprendre de nouvelles technologies et de nouveaux languages, je suis autonome, j'apprend vite et je sais travailler en équipe. 😊</p></div>
