div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.lien {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 50px;
}

.lien img {
    height: 40px;
    width: 40px;
    margin-left: 10px;

}

p {
    align-content: center;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(241, 255, 255, 0.32);
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    color:  #010344;;
    opacity: 1;
    font-family: "book";
    bottom: 20px;
}

button {
    background-color: #178fd1;
    position: relative;
    right: 200px;
    bottom: 50px;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    box-shadow: 0 1px 0 #e2dede, 0 2px 0 #b3b1b1, 0 3px 0 #9D9FA2, 0 4px 0 #8A8C8E, 0 4px 0;
}

button:hover {
    box-shadow:  0 2px 0 #b3b1b1, 0 2px 0;
   padding-top: 2px;
}

img {
    opacity: 1;
    height: 250px;
    width: 250px;
    border-radius: 25px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}
