<div ng-show="MyNav-5" class="container">
    <h1>Contact</h1>
    <form>
        <div class="form-group">
            <label for="name">Nom</label>
            <input placeholder="nom" type="text" class="form-control" id="name" required>
        </div>

      <div class="form-group">
            <label for="email">Email</label>
            <input placeholder="email@mail.com" type="text" class="form-control" id="email" required>
        </div>
       
        <div class="form-group">
            <label for="sujet">Sujet</label>
            <input placeholder="sujet" type="text" class="form-control" id="sujet">
        </div>

        <div class="form-group">
            <textarea placeholder="Describe yourself here..." class="form-control" id="message">
            </textarea>
        </div>
        <button type="submit" class=" btn btn-success">Submit</button>

    </form>
</div>
