/* You can add global styles to this file, and also import other style files */

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    /*background-image: url(assets/font_cool.jpg);*/
    background-image: url(assets/giphy.gif);
    background-size: cover;
    
}

@font-face {
    font-family: "hollé";
    src: url("font/Caviar.ttf");
}

@font-face {
    font-family: "book";
    src: url("font/Book.otf");
}

/*#canvas-background {
width: 100%;
height: 100%;
}*/


app-presentation{
    position: absolute;
    top: 30%;
}

app-mon-xp {
    position: absolute;
    top: 15%;
}

app-mes-competences, app-contact {
    position: relative;
    top: 200px;
}