<div ng-show="MyNav-2">
    <h3>Compétences</h3>

    <div class="competence">

        <article><h2>Languages</h2>
            <ul>
                <li>HTML 5</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                        confirmé
                    </div>
                </div>
                <li>CSS 3</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                        confirmé
                    </div>
                </div>
                <li>Javascrip</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                        avancé
                    </div>
                </div>
                <li>Jquery</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                        avancé
                    </div>
                </div>
                <li>Angular 2</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                        avancé
                    </div>
                </div>
                <li>Type Script</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        avancé
                    </div>
                </div>
                <li>MySql</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                        débutant
                    </div>
                </div>
                <li>Php</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                        débutant
                    </div>
                </div>
            </ul>
        </article>
        <article><h2>Logiciel / CMS</h2>
            <ul>
                <li>Photophop</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                        très avancé
                    </div>
                </div>
                <li>Gimp</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        comfirmé
                    </div>
                </div>
           
                <li>Wordpress</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        débutant
                    </div>
                </div>
                <li>Drupal</li>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:45%">
                        débutant
                    </div>
                </div>
            </ul>
        </article>

    </div>

</div>
