

.competence {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

h3 {
    text-align: center;
    font-family: "book";
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

article {
    background-color: rgba(150, 181, 220, 0.88);
    height: 100%;
    width: 70%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: "book";
}

.progress {
    background-color: #fff !important;
}

.progress-bar {
    background-color: green;
}

li {
    list-style: none;
    color: #00294c;
    font-size: 1.3em;
}