div {
    background-color: coral;
}

.competence {
    height: 100%;
    background-color: coral;
    display: flex;
    justify-content: space-around;

}

h3 {
    text-align: center;
    
}

article {
    background-color: antiquewhite;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}