<div ng-show="MyNav-2">
    <h3>Compétences</h3>

    <div class="competence">

        <article>Languages<br>
            <ul>
               <li>HTML 5</li>
               <li>CSS 3</li>
                <li>Javascrip</li>
                <li>Jquery</li>
                <li>Angular 2</li>
                <li>Type Script</li>
                <li>MySql (notion)</li>
                <li>Php (notion)</li>
            </ul>
        </article>
        <article>logiciel / CMS<br>
            <ul>
                <li>Photophop</li>
                <li>Gimp</li>
                <li>Github</li>
                <li>Trello</li>
                <li>Wordpress (notion)</li>
                <li>Drupal (notion)</li>
            </ul>
        </article>
 
    </div>

</div>
